#root {
  height: 100vh;
  max-width: 1280px;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.btn {
  color: #ffffff;
  background-color: #6a0204;
  border: 4px solid #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #2d63c8;
  background-color: #ffffff;
}

.btn--large {
  padding: 15px 50px;
  font-size: 16px;
}

.btn--medium {
  padding: 10px 30px;
  font-size: 14px;
}

.btn--small {
  padding: 6px 20px;
  font-size: 12px;
}

.btn--primary {
  background-color: #6a0204;
  color: #fff;
}

.btn--secondary {
  background-color: #ffffff;
  color: #6a0204;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cronometer-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.cronometer-container{
  display: flex;
  flex-direction: column;
  background: #6a0204;
  border: 4px solid #ffffff;
  border-radius: 8px;
  padding: 10px 0;
  gap: 12px;
  min-width: 255px;
}

.cronometer-container h1{
  font-size: 40px;
}

.cronometer-container span{
  font-size: 20px;
}

.overflow-scroll{
  overflow: scroll;
}

.flex{
  display: flex;
}

.justify-between { 
  justify-content: space-between; 
}